form((ngSubmit)='login()', #loginForm='ngForm')
  div
    label(for='username') Username
    input.form-control(type='text', id='username', name='username', [(ngModel)]='username', required)
  div
    label(for='password') Password
    input.form-control(type='password', id='password', name='password', [(ngModel)]='password', required)
  button.buttons.text-center.btn.btn-primary(type='submit', [disabled]='!loginForm.form.valid') Login
  div(*ngIf='errorMessage', class='error-message')
    | {{ errorMessage }}
