[bumpversion]
current_version = 1.0.0
commit = True
tag = True

[bumpversion:file:frontend/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:backend/pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
