iframe(#iframe)
img(*ngIf='!running', [src]='_demoScreenshot')
.overlay(*ngIf='!running', (click)='start()')
    fa-icon.mb-3([icon]='_playIcon', size='2x')
    strong.mb-2 Start interactive demo
    small.text-muted 25 MB, CPU intensive
