.container.mt-5.mb-5
    h1 Features

    .row
        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.progress')
                .card-body
                    h5.card-title Smart tabs
                    .card-text Tabs that detect progress and can notify you when a process is done.

        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.colors')
                .card-body
                    h5.card-title 24-bit color
                    .card-text Support for True Color and base16 infrastructure, as well as over 150 community ANSI color schemes.

        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.hotkeys')
                .card-body
                    h5.card-title Customizable hotkeys
                    .card-text Freely customizable single and multi-chord shortcuts.

    .row
        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.ssh2')
                .card-body
                    h5.card-title SSH and the kitchen sink
                    .card-text A built-in SSH client with profiles, SFTP, key management, jump hosts, X11 and the rest.

        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.ports')
                .card-body
                    h5.card-title Persistent port forwards
                    .card-text Preconfigure often-used port forwarding setups.

        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.zmodem')
                .card-body
                    h5.card-title Zmodem transfers
                    .card-text Send and receive files directly form the prompt in SSH, telnet and serial session.

    .row
        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.quake')
                .card-body
                    h5.card-title Quake mode
                    .card-text Dock on the side of the screen? Check. Spawn with a key? Sure. Tabs on bottom? No problem.

        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.split')
                .card-body
                    h5.card-title Split tabs
                    .card-text Freely rearrangeable split panes which you can also save as a profile.

        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.profiles')
                .card-body
                    h5.card-title Profile manager
                    .card-text Every option configurable combined in a profile startable a hotkey.

    .row
        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.fonts')
                .card-body
                    h5.card-title Delicate fontwork
                    .card-text Ligature support, Powerline and Nerd Fonts, emoji, pixel-perfect boxes.

        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.history')
                .card-body
                    h5.card-title Persistent history and tabs
                    .card-text Tabby remembers your open tabs, and when you accidentally close them, restores the complete terminal state.

        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.paste')
                .card-body
                    h5.card-title Careful pasting
                    .card-text Multi-line paste warnings and bracketed paste support prevent accidentaly executing stuff when pasting multiple lines.
