@import "~theme/vars";
@import "~@fontsource/fira-code/latin.css";

:host {
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.top-half {
    background: linear-gradient(#0c141c00, #15202b);

    h1 {
        font-size: 80px;
    }

    .nav {
        font-size: 14px;
        padding: 0 35px;
    }

    .intro {
        width: 60vw;
        margin: auto;
    }
}

.demo-offset {
    padding-top: 24vw;
}

.bottom-half {
    background: $body-bg;
    overflow: hidden;
    min-height: 100vh;
}

.navbar {
    display: flex;
    padding: 15px 30px;

    a, button {
        margin-left: 10px;
    }
}

.brand {
    width: 32px;
}

demo-terminal {
    margin: auto;
    width: calc(min(max(480px, 60vw), 100vw));
    height: calc(max(460px, 42vw));
    position: relative;
    top: 20vw;
    margin-top: -16vw;
}
