.container.mt-5.mb-5
    h1 Features

    .row
        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.progress')
                .card-body
                    h5.card-title Smart tabs
                    .card-text Tabs that detect progress and can notify you when a process is done.

        .col-12.col-md-4
            .card.bg-dark
                img.card-img-top([src]='screenshots.zmodem')
                .card-body
                    h5.card-title Zmodem transfers
                    .card-text Full support for Zmodem transfers in SSH, telnet and serial connections.
