doctype html
html
    head
        base(href='/')
        meta(name='viewport', content='initial-scale=1, minimal-ui, shrink-to-fit=no')
        script(src='/build/index.js', defer)
        title Tabby
    body
        app
