doctype html
html.tabby
    head
        meta(charset='UTF-8')
        script(src='/build/terminal.js')
        style#custom-css
        style.
            body { transition: 0.5s background; }
    body
        app-root(style='display: none')
            .preload-logo
                div
                    .tabby-logo
                    h1.tabby-title Tabby
                        sup α
                    .progress
                        .bar(style='width: 0%')
