.login-view(*ngIf='ready')
    div.text-center
        h2 Login
        app-login-form
        hr
    .buttons
        a.btn(
            *ngFor='let provider of providers',
            [class]='provider.cls',
            href='{{commonService.backendURL}}/api/1/auth/social/login/{{provider.id}}'
        )
            fa-icon([icon]='provider.icon', [fixedWidth]='true')
            span Log in with {{provider.name}}
